p{
  color: hotpink;
}
li{
  color: white;
}
body{
  background: url(https://images-gmi-pmc.edge-generalmills.com/42fa1581-1f2f-4f55-9718-c71b3d55ecf3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
